<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.salutemendietamediterranea">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaluteMenùDietaMediterranea"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Scegliere_Mediterranea">
        </activity>
        <activity android:name=".SaluteMenuPrincipale">
        </activity>
        <activity android:name=".Fabbisogno_calorico">
        </activity>
        <activity android:name=".Super_Food">
        </activity>
        <activity android:name=".Guida_Fabbisogno_BMI">
        </activity>
        <activity android:name=".Fabbisogno_acqua">
        </activity>
        <activity android:name=".Colazioni">
        </activity>
        <activity android:name=".Pranzi">
        </activity>
        <activity android:name=".Cene">
        </activity>
        <activity android:name=".Profilo_utente">
        </activity>
        <activity android:name=".Gestione_notifiche">
        </activity>
        <receiver
            android:name=".NotificationReceiver" />
    </application>

</manifest>